/* Header component */
header {
    background-color: transparent;
    color: $grayish-violet;
    font-weight: $weight-bold;
    padding: 40px 0;

    .horizontal-list {
        li {
            transition: $transition-ease;

            &:hover {
                cursor: pointer;
                color: $very-dark-blue;
            }

            @include mobile {
                display: none;
            }
        }

        @include mobile {
            @include container(90%);

            .logo-header {
                display: inline-block;
                float: left;
            }
        }

        .right {
            float: right;
        }

        #mobile-right {
            display: none;

            @include mobile {
                display: inline-block;

                #mobile-btn {
                    color: $gray;
                    height: 17px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.mobile-menu {
    font-size: $base-font-size;
    z-index: 9999;
    padding: 15px 25px 15px 25px;
    font-weight: $weight-bold;
    text-align: center;
    background-color: $dark-violet;
    z-index: 9999;
    border-radius: 10px;
    @include container(90%);
    margin-top: 20px;
    position: absolute;
    left: 5%;
    display: none;

    li {
        color: white;
        margin: 30px 0;
        transition: $transition-ease;

        &:hover {
            color: $cyan;
            cursor: pointer;
        }
    }

    .bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        button {
            width: 100%;
            font-size: $base-font-size;
        }
    }
}