/* Place all button components styling here */
.cta-btn,
.btn-squared,
.btn-copy {
    background-color: $cyan;
    color: white;
    font-weight: $weight-bold;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    letter-spacing: 0.5px;
    transition: $transition-ease;

    &:hover {
        cursor: pointer;
        background: lighten($cyan, 10%);
    }
}

.btn-squared {
    border-radius: 5px;
    padding: 13px 30px;
    font-size: $base-font-size;

    @include mobile {
        margin-top: 15px;
        width: 100%;
    }
}

.btn-copy,
.btn-copy-active {
    border-radius: 5px;
    font-size: #{$base-font-size - 4px};
    padding: 8px 30px;
    margin-top: -4px;
    margin-left: 15px;
}

.btn-copy-active {
    background-color: $dark-violet;

    &:hover {
        cursor: pointer;
        background: darken($dark-violet, 10%);
    }
}

.clear-btn {
    color: $grayish-violet;
    text-decoration: underline;
    float: right;
    font-weight: $weight-bold;
    transition: $transition-ease;
    display: none;

    &:hover {
        cursor: pointer;
        color: darken($grayish-violet, 5%);
    }
}