.card {
    padding: 10px;

    &-content {
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        min-height: 275px;
    }

    &-icon {
        margin: -60px 0 40px 10px;
        padding: 20px;
        border-radius: 50%;
        background-color: $dark-violet;
    }

    &-title {
        font-size: 20px;
        font-weight: $weight-bold;
        color: $dark-violet;
        margin-bottom: 15px;
    }
}

#card-2 {
    margin-top: 50px;
}

#card-3 {
    margin-top: 100px;
}

.line-through-cards {
    height: 10px;
    background-color: $cyan;
    width: 90%;
    margin: 250px 0 -200px 20px;
    margin-top: 250px;
    margin-bottom: -200px;
}

.card-url {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;

    .input-url,
    .short-url {
        font-size: $base-font-size;
        color: $dark-violet;
        font-weight: $weight-bold;
    }

    .short-url {
        color: $cyan;
        float: right;
        text-decoration: none;
        transition: $transition-ease;

        &:hover {
            cursor: pointer;
            color: lighten($cyan, 10%);
        }
    }

    button {
        float: right;
    }
}