.illustration-landing {
    height: 475px;
    float: right;
    margin-top: -50px;
    margin-right: -200px;
    overflow-x: hidden;

    @include mobile {
        margin-top: -700px;
        height: 420px;
    }
}