/* Place all input components styling here */
input,
select,
textarea {
    border: 2px solid #ccc;
    font-size: $base-font-size;
    padding: 12px 25px;
    border-radius: 10px;
    color: $dark-violet;

    transition: $transition-ease;

    @include mobile {
        width: 100% !important;
    }
}