// Font-family
$font-poppins: 'Poppins',
sans-serif;

// Margins
$margin-typography: 20px;

// Font-weights
$weight-light: 500;
$weight-bold: 700;

// Font-sizes
$base-font-size: 18px;

// Colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

$red: hsl(0, 87%, 67%);

$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

// Transitions
$transition-ease: 200ms ease;

// Screen widths
$mobile-width: 375px;
$desktop-width: 1440px;